<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bracket - Tournoi</title>
    <!-- Chargement des feuilles de style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bracket/0.11.1/jquery.bracket.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Tournoi: {{ tournoi.nom }}</h1>
        </div>
        <div class="login">
            <a href="{% url 'admin:index' %}" class="btn btn-warning">Se Connecter</a>
        </div>
    </header>

    <main>
        <section class="bracket-section">
            <h2>BRACKET</h2>
            <div id="tournoi"></div> <!-- L'arbre de tournoi sera généré ici -->
        </section>
    </main>

    <!-- Chargement du fichier JavaScript -->
    <script>
        const teamsData = [
            {% for match in quart_de_finale %}
                ["{{ match.participant1.nom }}", "{{ match.participant2.nom }}"],
            {% endfor %}
        ];
    </script>
    <script src="{% static 'js/tournament.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
