body {
  font-family: Arial, sans-serif;
  background-color: #262626;
  color: #fff;
  margin: 0;
  padding: 20px;
}

.bracket-section {
  text-align: center;
  margin-top: 20px;
}

.bracket-section h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
}

.bracket {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.round {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%; /* Largeur réduite pour faire de la place à chaque round */
  margin-bottom: 40px; /* Plus d'espace entre chaque round */
}

.match {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column; /* Organiser les équipes en colonne */
  align-items: center;
  border: 2px solid #444; /* Ajout de bordure pour mieux séparer les matchs */
  padding: 10px;
  border-radius: 5px;
  background-color: #333;
  transition: transform 0.3s ease;
}

.match:hover {
  transform: scale(1.05);
}

.team {
  background-color: #444;
  padding: 10px;
  margin: 5px;
  color: white;
  border-radius: 5px;
  text-align: center; /* Centrer le texte */
  width: 150px; /* Largeur des équipes */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.team:first-child {
  border-bottom: 2px solid #3682b8;
}

.team:last-child {
  border-top: 2px solid #ff0077;
}

.center-image img {
  width: 150px;
  height: 125px;
  border-radius: 15%;
  object-fit: cover;
  border: 3px solid #ff0077;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
}

@media (max-width: 768px) {
  .bracket {
    flex-direction: column;
    align-items: center;
  }

  .round {
    width: 100%;
    margin-bottom: 20px;
  }

  .match {
    width: 80%;
  }
}
